Button{
    font-family: 'Codystar', cursive;
    padding: 5px 15px;
    font-weight: bolder;
    font-size: 19px;
    border: solid black .5px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    color: #fad416;
    background: radial-gradient(#000000 20%, #fad416 70%)
}
