.Beauty-box2{
    row-gap: 10px;
    column-gap: 10px;
}

.modalcontainer{
    border: 2px solid black;
    
}

/* img{
    width:100%;
    height: 100%;
} */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 1;
    padding: 10px 62px 0px 62px;
}
  
/* .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
} */

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

/* .col {
    float: left;
    width: 65%;
    margin-top: 35px;
    width: 550px;
}
  
  
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
}
  
.slide {
    display: none;
}
  
.image-slide {
      width: 100%;
}
  
.modal-preview {
      width: 100%;
}
  
.dots {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
  
img.preview, img.modal-preview {
    opacity: 0.6;
}
  
img.active,
  .preview:hover,
  .modal-preview:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
  
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.inactive {
    display: none;
} */