.Beauty{
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    /* border: 2px solid black; */
    width: 80%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.beautyCategories{
    margin: 0 auto;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}