h1 {
  overflow: hidden;
  background: linear-gradient(90deg, #fad416, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  background-clip:text;
  -webkit-text-fill-color:rgba(255, 255, 255, 0);
  -webkit-background-clip:text;
  -webkit-animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
