.UserBackground{
    background: black;
    width: 90%;
    height:100%;
    margin-left: 40em;
}
.UserProfile{
    width: 40%;
    height:80%;
    margin-top: 3em;
    margin-left: 2em;
    background:#fad416;
}
.UserImage{
    margin-left: -8em;
}
.about-button{
    height: 100vh; 
    width: 100vw;
}